.anki-viz {
  margin-top: 60px;
  margin-bottom: 60px;

  .words {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    border-radius: 3px;
    border: 1px solid #222;
    overflow: hidden;
    background: black;

    .word {
      padding: 0px 12px;
      height: 28px;
      display: flex;
      align-items: center;
      font-size: 12px;
      vertical-align: center;
      color: #DDD;
      flex-grow: 1;
      transition: opacity 0.1s;

      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }

      &.dark-text {
        color: #111;
      }
    }
  }

  .num-showing {
    padding: 12px;
    justify-content: center;
  }
}

.anki-chart {
  .bubble-container {
    height: 450px;
    width: 100%;
  }
}

.anki-viz, .anki-chart {
  .sort-select-container {
    width: 240px;
    margin-right: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;

    .rs-picker-select {
      width: 100%;
    }
  }
}

.review-history-dots {
  max-width: 400px;

  .dots {
    display: flex;
    flex-wrap: wrap;
    width: 100%;


    .dot {
      width: 10px;
      height: 10px;
      margin: 1px;
      border-radius: 2px;

      &.failed {
        background: rgb(219, 48, 48)
      }
      &.passed {
        background: rgb(50, 190, 50)
      }
    }
  }
}
.rs-popover {
  font-size: 12px;

  .rs-popover-content {
    font-size: 1em;
    color: #333;
  }

  .rs-popover-title {
    font-size: 2em;
    font-weight: normal;
    color: black;
  }
}

.rs-picker-select-menu-item {
  font-size: 12px;
}


@media screen and (max-width: 500px) {
  .rs-popover {
    font-size: 10px;
    max-width: 200px;

    .rs-popover-content {
      max-width: 200px;
    }

    .review-history-dots {
      max-width: 200px;
    }
  }
}
