.contact-info {
  margin-top: 12px;

  .buttons {
    margin-top: 12px;


    button {
      border: none;
      border-radius: 2px;
      font-family: 'Courier Prime', monospace !important;
      text-transform: uppercase;
      padding: 5px 20px;
      font-size: 14px;
      color: black !important;
    }
  }


  .logos {
    color: white !important;
  }

}
