@import '~rsuite/dist/styles/rsuite-default.css';
@import "~bootstrap/scss/bootstrap";

.main {
  font-family: 'Courier Prime', monospace;
}

.page-navbar {
  font-family: 'Courier Prime', monospace;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  &.padded {
    padding: 50px 0;
  }
}

.section-inner {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
}

p {
  font-size: 24px;
  line-height: 150%;
}

.color-red {
  color: #ff7474;

  &.dark {

  }
}

.color-green {
  color: #8dff74;
}

.color-blue {
  color: #74b3ff;
}

.color-yellow {
  color: #faff74;
}

.color-pink {
  color: #ff8fc3;
}

@media screen and (max-width: 767px) {
  .section.padded {
    padding: 10px;
  }
  .section-inner {
    padding: 0 10px;
  }
}
